.fingerprint-static {
  width: 120px;
  height: 120px;
  background: url("https://cdn-icons-png.flaticon.com/512/3062/3062634.png") no-repeat center;
  background-size: contain;
  filter: invert(39%) sepia(77%) saturate(422%) hue-rotate(90deg) brightness(95%) contrast(95%);
  opacity: 0.9;
}
